.bg-main {
	background-color: rgb(111, 200, 222);

	.article {
		background-color: white;
	}
}

.see-history-btn {
	background-color: none;
	border: none;
	color: blue;
	text-decoration: underline;
	font-size: 0.75rem;
}
